/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--content-font-weight, 400);
  color: var(--font-color, #000);
  background: var(--bg-image, #fff);
  background-size: cover;
  background-attachment: fixed;
}

.content-width {
  max-inline-size: 700px;
  inline-size: var(--content-width);
  margin-inline: auto;
  margin-block-start: 100px;
}

.header {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 20px;
  border: 2px solid #000;
  padding-block: var(--header-padding-block);
  background-color: var(--bg-color, #fff);
  font-family: var(--accent-font), fantasy; 
}

.logo {
  text-transform: uppercase;
  font-size: var(--logo-font-size);
  text-decoration: none;
  line-height: 100%;
}

.title {
  text-transform: uppercase;
  font-size: var(--h1-font-size);
  line-height: 100%;
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-block-end: 103px;
}

.card-list {
  display: grid;
  gap: 50px;
  margin-block-end: 50px;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" 700;
  line-height: 25px;
  padding: 3px 24px 3px 10px;
}

.card__image-block {
  position: relative;
  border-block: 2px solid var(--accent-color, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.card__image-text {
  position: absolute;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  color: rgb(0,0,0, 0.5);
  text-shadow: -1px 0 var(--contarst-color, #fff), 0 1px var(--contarst-color, #fff), 1px 0 var(--contarst-color, #fff), 0 -1px var(--contarst-color, #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__picture-text {
    -webkit-text-stroke: 1px var(--contarst-color, #fff);
    text-stroke: 1px var(--contarst-color, #fff);
    text-shadow: none;
  }
} 

.card__text-wrap {
  padding: 25px;
  display: grid;
  gap: 27px;
}

.card__text {
  font-size: var(--main-font-size, 18px);
  letter-spacing: 0.5px;
}

.card__buttons-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 25px 25px;
}

button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

.button {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  display: flex;
  gap: 8px;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  block-size: 38px;
  padding: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
  transition: border 0.3s ease;
}

.card__like-button {  
  inline-size: 130px;
  block-size: 38px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  z-index: 0;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0%);
}

.button-save {
  display: flex;
  gap: 8px;
  align-items: center;
  inline-size: 335px;
  block-size: 55px;
}

.button__text {
  line-height: 13px;
  color: var(--contarst-color, #fff);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  fill: var(--contarst-color, #fff);
  mix-blend-mode: difference;
}

/*************Dialog*****************/
.dialog-save {
  inline-size: 353px;
  padding: 28px;
  position: fixed;
  inset: 0;
  transition: opacity 0.6s ease-in-out;
}

.dialog-save:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog-info {
  display: flex;
  gap: 20px;
}

.dialog-save .floppy {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  align-self: center;
}

.accent-text {
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size, 14px);
}

.dialog-label {
  text-transform: uppercase;
  line-height: 150%;
  text-align: left;
}

.button-ok {
  border: 2px solid var(--accent-color, #000);
  inline-size: 100%;
  margin-block-start: 30px;
  block-size: 38px;
}

.button-ok .button__text {
  text-transform: uppercase;
  margin: 0 auto;
}

.dialog-save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.sparks {
  opacity: 0;
}
/*****************Media****************/
@media (width <= 375px) {
  .content-width {
    max-inline-size: 100%;
    inline-size: 100%;
  }

  .button-save {
    block-size: 84px;
    inline-size: 306px;
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  
  .dialog-save {
    inline-size: min(341px, 100%);
    padding: 28px 38px;
  }
}
